.container
  .content
    .question
      Welcome! This is a random question generator. Press the button to start.
    %a.button{href: random_path} RANDOM QUESTION
  %br
.footer
  Made by
  %a{href: "mailto:jlchen@gmx.net"} Lin
