.container
  .content
    .question
      %span= @question.query
    .buttons
      %a.button.main-button{href: random_path} NEXT QUESTION
      %br
      %a.button.button2.secondary{href: only_would_you_path} ONLY WOULD YOU QUESTIONS
      %br
      %a.button.button3.secondary{href: no_would_you_path} WITHOUT WOULD YOU QUESTIONS
  %br
= render "footer"
